@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-zinc-950: oklch(14.1% 0.005 285.823);
  --color-zinc-900: oklch(21% 0.006 285.885);
  --color-zinc-700: oklch(37% 0.013 285.805);
  --color-zinc-600: oklch(44.2% 0.017 285.786);

  --font-sans: "Cairo", sans-serif;
}